body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.syntaxhighlighter {
    padding: .5em 0;
}

.top {
    position: relative;
    margin-left: 10px;
    top: -10px;
}

dl.Zebra_Accordion {
    width: 100% ;
}

dl.Zebra_Accordion dt {
    background: #ccc;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border-bottom: 1px solid #FFF;
}

dl.Zebra_Accordion dt.Zebra_Accordion_Expanded {
    background: #c09853;
    color: #FFF;
}

dl.Zebra_Accordion dd {
    background: #EFEFEF;
    padding: 15px;
    margin: 1px 0;
}

#Zebra_Accordion3 dt:before {
    content: "▶";
    margin-right: 10px;

}

#Zebra_Accordion3 dt.Zebra_Accordion_Expanded:before {
    content: "▼";
    margin-right: 10px;

}